body {
  padding: 10px;
  font-family: serif;
  font-size: 30pt;
}

body, * {
    margin: 0;
    padding: 0;
}

h1,p {
    margin-top: 0;
    text-align: center;
}

input {
    font-size: 30pt;
    font-family: inherit;
    width: 100%;
}
::placeholder {
    color: #cccccc;
}

img {
    max-height: 80vh;
    width: 50%;
    margin-left: 25%;
}

progress {
    width: 100%;
}

.break {
    background: #0075ff;
    text-align: center;
    color: white;
}

.container {
    display: flex;
}

.column {
    height: 100vh;
    width: 200px;
}

.column + .column {
    margin-left: 2%;
}

.two {
    width: 900px;
}

.math-result {
    margin-top: 0;
    font-size: 12em;
}

.error {
    color: red;
}

.completions {
}

.completions .item {
    display: inline-block;
}

.canvas .cell.gridlines {
    border-left: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(0,0,0,.2);
}

.canvas .cell:hover {
    background: cyan !important;
}

.canvas .cell .current {
    height: 100%;
    border: solid 5px green;
    margin: -5px;
}

/*****************************************************************
   terminal
*****************************************************************/

.terminal {
    color: white;
    background: black;
    font-family: courier; 
}

.terminal input {
    width: 50%;
    background: black;
    color: white;
}

.terminal .output .error {
    color: red;
}

.terminal .output .output {
    color: lime;
}
